* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Alegreya", serif;
}
.container {
    width: 65%;
    margin: auto;
}
section {
    padding-block: 50px;
}
.clear-fix {
    clear: both;
}

/* Start of navbar */
nav {
    background-color: #FFFFFF;
    box-shadow: 0 0.5px 3px #8e775436;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
}
.nav-image img{
    width: 200px;
    float: left;
}
.nav-content {
    float: right;
}
.nav-content a {
    color: gray;
}
.nav-content li {
    float: left;
    padding-inline: 10px;
    padding-top: 20px;
}
/* End of navbar */

/* Start of header */
header {
    height: 35vh;
    text-align: center;
    background:  linear-gradient(rgba(0, 0, 0, 0.185) 0% 100%),url('./../images/drew-coffman-1872.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    color: #FFFFFF;
}
/* End of header */

/* Start of Our story */
.OurStory-image img {
    width: 95%;
}
.OurStory-image {
    display: inline-block;
    width: 40%;
    text-align: center;
}
.OurStory-content {
    width: 45%;
    display: inline-block;
    color: #303030;
}
.OurStory-content i img {
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
}
/* End of Our story */

/* Start of Why Our Bakery */
.WhyOurBakery {
    background-color: #F8F8F8;
}
.WhyOurBakery-head {
    text-align: center;
}
.WhyOurBakery-content {
    width: 32%;
    display: inline-block;
    color: #303030;
    padding: 10px;
}
/* End of Why Our Bakery */

/* Start of js */
.js {
    background-color: #8E7754;
    color: #F8F8F8;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}
.js li {
    width: 24%;
    display: inline-block;
}
.js ul li img {
    display: inline-block;
    width: 35px;
    margin-bottom: 30px;
}
.js li div {
    font-size: 52px;
    line-height: 52px;
    font-weight: 400;
}
.js li p {
    font-size: 20px;
    line-height: 31.62px;
    font-weight: 400;
    margin-top: 20px;
}
/* End of js */

/* Start of Footer Main */
.FooterMain {
    background-color: #403D38;
}
.FooterMain-section h4 {
    color:#FFFFFF;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}
.FooterMain-section {
    width: 25%;
    float: left;
    line-height: 40px;
}
.FooterMain-section p {
    color: #969696;
    font-family: 14px;
    font-weight: 400;
}
.FooterMain-section span {
    color: #969696;
    font-family: 14px;
    font-weight: 400;
}
.FooterMain-section li {
    border-bottom: #686868 1px solid;
}
.FooterMain p {
    padding-bottom: 20px;
}
.FooterMain-section li img {
    width: 10%;
}
.footer-map {
    background-image:  url('./../images/contact-details-map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
}
/* End of Footer Main */

/* Start of footer */
footer {
    background-color: #353330;
    text-align: center;
    padding: 50px 0;
    line-height: 40px;
}
footer p {
    color: #777777;
    font-size: 15px;
    line-height: 27.9px;
    font-weight: 400;
    margin-top: 5px;
}
.socials {
    padding-top: 20px;
}
.socials a {
    color: #8c8a86;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #403D38;
    border-radius: 50%;
}
/* End of footer */